[Desktop Entry]
Name=omusic
GenericName=YouTube Music Menu Bar Applet
Comment=Cyber-minimal YouTube Music Menu Bar Applet for Linux
Exec=omusic --tray
Icon=omusic
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
NoDisplay=true
X-GNOME-Autostart-enabled=true
StartupNotify=false

[Desktop Action PlayPause]
Name=Play / Pause
Exec=omusic play-pause

[Desktop Action Next]
Name=Next Track
Exec=omusic next

[Desktop Action Previous]
Name=Previous Track
Exec=omusic prev
