[Desktop Entry]
Name=omusic
GenericName=YouTube Music Player
Comment=Cyber-minimal YouTube Music Desktop Player for Linux
Exec=omusic %U
Icon=omusic
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=youtube;music;player;streaming;audio;
StartupWMClass=omusic
Actions=PlayPause;Next;Previous;

[Desktop Action PlayPause]
Name=Play / Pause
Exec=omusic play-pause

[Desktop Action Next]
Name=Next Track
Exec=omusic next

[Desktop Action Previous]
Name=Previous Track
Exec=omusic prev
